In [1]:
#Using pca and comapring result with trees
import pandas as pd

In [3]:
df = pd.read_csv(r'D:\titanic_t.csv',usecols=['Pclass','Age','Sex','Fare','Survived'])

In [28]:
data = df.drop('Survived',axis=1)
data

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [12]:
target = df['Survived']

In [30]:
data.Sex=data.Sex.map({'male':0,'female':1})
data.Age = data.Age.fillna(data.Age.mean())
data.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [32]:
data

     Pclass  Sex        Age     Fare
0         3    0  22.000000   7.2500
1         1    1  38.000000  71.2833
2         3    1  26.000000   7.9250
3         1    1  35.000000  53.1000
4         3    0  35.000000   8.0500
..      ...  ...        ...      ...
886       2    0  27.000000  13.0000
887       1    1  19.000000  30.0000
888       3    1  29.699118  23.4500
889       1    0  26.000000  30.0000
890       3    0  32.000000   7.7500

[891 rows x 4 columns]

In [42]:
#Using pca
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)

In [44]:
from sklearn.decomposition import PCA

In [46]:
pca=PCA(n_components=2)

In [48]:
x_pca=pca.fit_transform(scaled_data)

In [50]:
scaled_data.shape

(891, 4)

In [52]:
x_pca.shape

(891, 2)

In [62]:
X = x_pca
y = df['Survived']

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000, max_depth=10, random_state=0)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")#Without using PCA-0.82

Accuracy: 0.76

In [78]:
from sklearn import tree
model = tree.DecisionTreeClassifier(criterion='entropy',max_depth=5)#Default is gini
model.fit(X_train,y_train)
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.5f}")

Accuracy: 0.77654

In [84]:
model.score(X_test,y_test)#Origin values were around 0.79 but this is also quite accurate

0.776536312849162